body,html{
    background-color: black;
    text-align: center;
    color: white;
}
#js{
    text-align: left;
    font-family: serif;
}


#ts{
    text-shadow: 0px 0px 5px aqua,
    0px 0px 25px aqua;
}


#fn{
    width: 60%;
    border: 5px solid aqua;
    background-color: black;
    color: aqua;
    border-radius: 9px;
    text-align: center;
    font-size: 60px;
}
#f{
    text-align: left;
    font-family: serif;
        text-shadow: 0px 0px 5px rgb(255, 255, 255),
        0px 0px 25px rgb(230, 240, 240);
        font-size: 30px;
}


.shadow__btn {
    padding: 5px 20px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: aqua;
    box-shadow: 0 0 25px aqua
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
  }
  .hadow__btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .hadow__btn {
    background: aqua;
    box-shadow: 0 0 25px aqua
  }
  
  .hadow__btn:hover {
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
  }
  .adow__btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .adow__btn {
    background: aqua;
    box-shadow: 0 0 25px aqua
  }
  
  .adow__btn:hover {
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
  }
  .dow__btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .dow__btn {
    background: aqua;
    box-shadow: 0 0 25px aqua
  }
  
  .dow__btn:hover {
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
  }
  .ow__btn {
    padding: 5px 10px;
    border: none;
    color: #fff;
    border-radius: 7px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .ow__btn {
    background: aqua;
    box-shadow: 0 0 25px aqua
  }
  
  .ow__btn:hover {
    box-shadow: 0 0 5px aqua,
                0 0 25px aqua,
                0 0 50px aqua,
                0 0 100px aqua;
  }
  #c{
    text-align: left;
    font-family: serif;
        text-shadow: 0px 0px 5px rgb(255, 255, 255),
        0px 0px 25px rgb(230, 240, 240);
        font-size: 30px;
  }
  #b1{
    padding: 5px 10px;
    background-color: red;
    color: red;
  }
  #b2{
    padding: 5px 10px;
    background-color: pink;
    color: pink;
  }
  #b3{
    padding: 5px 10px;
    background-color: blue;
    color: blue;
  }
  #b4{
    padding: 5px 10px;
    background-color: green;
    color: green;
  }
  #b5{
    padding: 5px 10px;
    background-color: yellow;
    color: yellow;
  }